///  C O L O R S


$white: #edf5ff;
$black: #130b1e;

$light-thistle: #E3D8F1;
$lightish-thistle: #d4c3e9;
$medium-thistle: #9c79cd;
$dark-thistle: #4b2c77;
$darker-thistle: #26163c;
$darkest-thistle: #1c112d;


$light-queen-pink: #DABECA;
$medium-queen-pink: #c397aa;
$medium-dark-queen-pink: #b57d95;


$light-tuscany: #C79A94;
$medium-tuscany: #BF8B85;
$medium-dark-tuscany: #B98079;
$dark-tuscany: #93564D;
$darker-tuscany: #502F2A;
$darkest-tuscany: #35201c;
$black-tuscany: #0d0807;

$coldish-dark-tuscany: #4f2d2c;
$colder-dark-tuscany: #4d2d2e;
$cold-dark-tuscany: #462f34;
// $cold-dark-tuscany: #492c32;



//   G R I D    V A R I A B L E S
$grid-width: 114rem;
$gutter-vertical : 6rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-sml: 2rem;


//   F O N T    S I Z E
$default-font-size: 1.6rem;


// B O X   S H A D O W
$box-shadow-small-light: 0 1rem 2rem rgba($color: $dark-tuscany, $alpha: .15);
$box-shadow-light: 0 1.5rem 4rem rgba($color: $dark-tuscany, $alpha: .15);
$box-shadow-medium: 0 1.5rem 4rem rgba($color: $dark-tuscany, $alpha: .20);
$box-shadow-dark: 0 1.5rem 4rem rgba($color: $dark-tuscany, $alpha: .25);
$box-shadow-big-dark: 0 2rem 4rem rgba($color: $dark-tuscany, $alpha: .4);


// C O M P O N E N T   V A R I A B L E S
$card-height-big: 50rem;
$card-height: 42rem;
$card-height-tab: 45rem;
$card-height-phone: 62rem;

// S H A P E S 
$circle70: circle(70% at 70% 70%);
$circle60: circle(60% at 60% 60%);
$circle50: circle(50% at 50% 50%);
$circle40: circle(40% at 40% 40%);


// B O R D E R    R A D I U S 
$border-radius-sm: 0rem;
$border-radius-big: 0rem;
$border-radius-round: 0rem;